<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/head') %>
</head>
<body>
    <script src="app.js"></script>
    <%- include('partials/navigation') %>  
    <div class="content">
        <h4>Registro de Usuarios</h4>
        <div class="register-form30"> 
            <form id="registerForm" action="/register" method="POST"> 
                <div class="contenedor__login-register">
                    <h1></h1>
                    <input type="text" name="UsuarioNew" class="input-small" placeholder="Descripcion Generica" required autocomplete="off">
                    <h1></h1>
                    <input type="text" name="UsuarioNom" class="input-small" placeholder="Descripcion Activo" required autocomplete="off">
                    <h1></h1>
                    <input type="text" name="PassNew" class="input-small" placeholder="Responsable" required autocomplete="off">
                    <h1></h1>
                    <input type="text" name="numpropNew" class="input-small" placeholder="Observaciones" required autocomplete="off">
                    <h1></h1>

                    <h1></h1>
                    <div>
                        <label for="Estado">Estado:</label>
                        <select name="Estado" id="Estado">
                            <option value="Bueno" selected>Bueno</option>
                            <option value="Regular">Regular</option>
                            <option value="Malo">Malo</option>
                        </select>
                    </div>
                    
                    <div>
                        <label for="Propio">Propio:</label>
                        <select name="Propio" id="Propio">
                            <option value="Si" selected>Si</option>
                            <option value="No">No</option>
                            <option value="Alquilado">Alquilado</option>
                        </select>
                    </div>

                    <div style="display: inline;">
                        <h5></h5>
                        <a href="/usuarios" class="btn-cancel" tabindex="-1">Regresar</a>
                        <input type="submit" class="btn-save" value="Registrar" tabindex="-1">
                    </div>
                </div>       
            </form>
        </div>
    </div>

    <script>
        // Establece el enfoque inicial en el primer campo de entrada
        window.onload = function() {
            document.querySelector('input[name="UsuarioNew"]').focus();
        }

        // Manejo de la tecla TAB para limitar el enfoque solo a los campos de entrada
        const inputs = document.querySelectorAll('input, select');

        inputs.forEach((input, index) => {
            input.addEventListener('keydown', (event) => {
                // Si se presiona la tecla TAB
                if (event.key === 'Tab') {
                    // Si el focus está en el último campo, evitar que el foco se mueva fuera
                    if (index === inputs.length - 1 && !event.shiftKey) {
                        event.preventDefault();  // Evitar que el tab se mueva fuera
                    }
                    // Si está en el primer campo y presiona Shift+Tab, evitar que el foco salga
                    if (index === 0 && event.shiftKey) {
                        event.preventDefault();  // Evitar que el tab se mueva fuera
                    }
                }
            });
        });
    </script>
    
    <%- include('partials/footer') %>  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/src/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
